.navigation{
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    margin-bottom: 20px;

}
a{
    display: block;
    color: #fff;
    text-decoration: none;
    transition-duration: 0.2s;
    transform: scale(1);
    padding: 5px;
}